@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

:root {
	--background-color: #e9e4dc;
	--accent-color: #e1d8d3;
	--secondary-color: #9ba467;
	--text-color: #644c4c;
	--border-color: #889b8b;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Gowun Batang", serif;
	color: var(--text-color);
	background-color: var(--accent-color);
	background-size: 40px 40px;
  background-image:
	linear-gradient(to right, var(--background-color) 1px, transparent 1px),
	linear-gradient(to bottom, var(--background-color) 1px, transparent 1px);
	max-width: 1200px;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Stint Ultra Condensed", serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	padding: .5em;
	border-bottom: 2px dotted var(--border-color);
	cursor: default;
}

h1 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: .8fr 4fr;
	gap: 1em;
	margin: 1em;
}

ul.navbox {
	position: sticky;
	top: 1em;
	height: fit-content;
	list-style-type: none;
	margin: 0;
  padding: 0;
	overflow: hidden;
	z-index: 2;
}

ul.navbox>li, ul.navbox>li a {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
	padding: .5em;
	transition: .2s color;
}

ul.navbox>li a:hover {
	color: var(--secondary-color);
}

ul.navbox>li.title {
	position: relative;
	font-family: "Stint Ultra Condensed", serif;
	font-size: 1.5em;
	letter-spacing: 2px;
	background-color: var(--text-color);
	color: var(--background-color);
	padding: .5em;
	cursor: default;
}

ul.navbox>li.title:after {
	position: absolute;
	right: 1em;
	top: calc(50% - 5px);
	content: "";
	height: 0px;
	width: 0px;
	border: 7px solid transparent;
	border-left: 10px solid var(--background-color);
}

ul.navbox>li.active, ul.navbox>li.active a {
	background-color: var(--secondary-color);
	color: var(--background-color);
}

.image-container, .content-block, ul.navbox {
	border-radius: 1em;
	box-shadow: .1em .1em .4em var(--border-color);
}

.image-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.image-container img {
	object-fit: cover;
	width: inherit;
	height: inherit;
}

.content-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3em 1em;
	margin: auto;
}

.content-block {
	position: relative;
	background-color: var(--background-color);
	text-align: center;
	border: 1em solid var(--background-color);
	border-right: 0;
	padding-right: 1em;
	height: calc(300px - 2em);
	overflow: scroll;
}

.content-block h3 {
	position: sticky;
	top: 0em;
	background-color: var(--background-color);
	border-bottom: 2px dotted var(--border-color);
	margin: 0;
}

footer {
	color:var(--border-color);
	font-weight: 700;
	font-size:.8em;
	letter-spacing: 1px;
	text-align: center;
	border-top: 2px dotted var(--border-color);
	padding: 2em;
	margin-top: 3em;
	cursor: default;
}

@media screen and (max-width: 720px) {
	.grid-container {
		grid-template-columns: 100%;
	}

	ul.navbox {
		position: initial;
	}
}

@media screen and (max-width: 480px) {
	.content-container {
		grid-template-columns: 100%;
	}
}