@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

:root {
	--background-color: #f0ebe2;
	--accent-color: #e1d8d3;
	--secondary-color: #9ba467;
	--text-color: #644c4c;
	--border-color: #889b8b;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Gowun Batang", serif;
	color: var(--text-color);
	background-color: var(--accent-color);
	background-size: 40px 40px;
  background-image:
	linear-gradient(to right, var(--background-color) 1px, transparent 1px),
	linear-gradient(to bottom, var(--background-color) 1px, transparent 1px);
	max-width: 1200px;
	margin: auto;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Stint Ultra Condensed", serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	padding: .5em;
	border-bottom: 2px dotted var(--border-color);
	cursor: default;
}

h1 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: .8fr 4fr;
	gap: 1em;
	margin: 1em;
}

ul#navbox {
	position: sticky;
	top: 1em;
	height: 13em;
	list-style-type: none;
	margin: 0;
  padding: 0;
	overflow: hidden;
	z-index: 2;
	transition: height .3s;
}

ul#navbox.closed {
	height: 3em;
}

ul#navbox>li a {
	display: inline-block;
	color: inherit;
	width: -webkit-fill-available;
	width: -moz-available;
	padding: .5em;
}

ul#navbox>li:hover {
	background-color: var(--secondary-color);
	color: var(--background-color);
}

ul#navbox>li {
	background-color: var(--background-color);
	text-align: center;
	transition: .1s;
}

ul#navbox>li.title {
	position: relative;
	font-family: "Stint Ultra Condensed", serif;
	font-size: 1.5em;
	letter-spacing: 2px;
	background-color: var(--text-color);
	color: var(--background-color);
	padding: .5em;
	cursor: default;
}

ul#navbox>li.title:after {
	position: absolute;
	right: 1em;
	top: calc(50% - 5px);
	content: "";
	height: 0px;
	width: 0px;
	border: 7px solid transparent;
	border-left: 10px solid var(--background-color);
	transition: transform .2s linear;
}

ul#navbox.closed>li.title:after {
	transform: rotate(90deg) translate(3.5px, 3.5px);
}

.content-container {
	position: relative;
}

.content-row.r {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.content-row.l {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	gap: 2em;
	margin: 2em 0;
}

.image-container, .content-block, ul#navbox {
	border-radius: 1em;
	box-shadow: .1em .1em .4em var(--border-color);
}

.image-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 300px;
	flex: 1;
	overflow: hidden;
}

.image-container img {
	object-fit: cover;
	width: inherit;
	height: inherit;
	filter: sepia(50%);
}

.content-block {
	position: relative;
	background-color: var(--background-color);
	text-align: center;
	border: 1em solid var(--background-color);
	border-right: 0;
	padding-right: 1em;
	height: calc(300px - 2em);
	flex: 2;
	overflow-y: scroll;
	overflow-x: hidden;
}

.content-block::-webkit-scrollbar {
  background-color: transparent;
	width: 5px;
}

.content-block::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
	border-radius: 1em;
}

.content-block h3 {
	position: sticky;
	top: 0em;
	background-color: var(--background-color);
	border-bottom: 2px dotted var(--border-color);
	margin: 0;
}

footer {
	color:var(--border-color);
	font-weight: 700;
	font-size:.8em;
	letter-spacing: 1px;
	text-align: center;
	border-top: 2px dotted var(--border-color);
	padding: 2em;
	margin-top: 2em;
	cursor: default;
}

@media screen and (max-width: 720px) {
	.grid-container {
		grid-template-columns: 100%;
	}

	ul#navbox {
		position: initial;
	}
}

@media screen and (max-width: 480px) {
	.content-row.l, .content-row.r {
		flex-direction: column;
	}
}