body {
	position: relative;
	background-image: url(images/philly.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}

.clock-container {
	position: absolute;
	left: 0;
	top: calc(50% - 150px);
	width: 100%;
}

#clock {
	position: relative;
	background-image: url(images/clockimage.png);
	background-color: #ffffff70;
	background-size: contain;
	height: 300px;
	width: 300px;
	z-index: 2;
	filter: invert(1);
	border-radius: 100%;
	margin: auto;
}

#clock>.hour-hand {
	position: absolute;
	background-image: url(images/hand.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 60px;
	top: calc(50% - 30px);
	left: calc(50%);
	transform: rotate(30deg);
	transform-origin: 0% 50%;
	animation: rotatehour 10s linear;
}

#clock>.minute-hand {
	position: absolute;
	background-image: url(images/hand.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100px;
	top: calc(50% - 50px);
	left: calc(50%);
	transform: rotate(-90deg);
	transform-origin: 0% 50%;
	animation: rotateminute 10s linear;
}

@keyframes rotateminute {
	0% {transform: rotate(-90deg)}
	25% {transform: rotate(0deg)}
	50% {transform: rotate(90deg)}
	75% {transform: rotate(180deg)}
	100% {transform: rotate(270deg)}
}

@keyframes rotatehour {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(30deg)}
}